// For Ipad 
@media screen and (min-width: 768px) and (max-width: 1170px) {
    .showcase-a{
        height: 70vh;
        width: 95%;
        margin-top: 7rem;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;

        &-left{

            h1{
                width: 300px;
                line-height: 1.4;
                font-size: 2rem;
            }
        }

        &-right{
            height: 50%;
        }
    }

    .how-it-works{
        width: 90%;
        margin-bottom: 100px;
        
        h1{
            text-align: center;
        }
    }

    .insurance-cards{
        width: 90%;
    }

    footer{
        height: 100%;

        .footer-container{
            flex-direction: column;
            width: 80%;
        }

        .social{
            display: flex;
            width: 100%;
            padding: 2rem 0;
            justify-content: space-between;
            flex-direction: row;
            order: 2;
            margin-top: unset;

            h1{
                margin-top: -14px;
                margin-bottom: unset;
            }

        }

        .footer-links{
            width: 100%;
            margin: 4rem 0;
            order: 1;
        }

        .footer-form{
            width: 100%;
            padding-top: 3rem;

            form{
                width: 100%;
                margin-left: unset;
            }

            &::before{
                all: unset;
            }

            input,textarea{
                padding-left: 20px;
            }
        }

    }

}

@media screen and (max-width: 767px) {

    .menu-btn{
        display: block;
        z-index: 999;
        transition: all 0.5s ease-out;
        
        &-line{
            width: 2rem;
            height: 0.2rem;
            margin-bottom: 0.4rem;
            background: #000;
        }
                    
    }

    .close{
        transform: rotate(180deg);

        .menu-btn-line {
            //   Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
    
            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }
    
            // Line 3 - Rotate
            &:nth-child(3) {
            
                transform: rotate(-45deg) translate(8px, -8px);
            }
        }
    }
    

    .navbar{

        ul{
            display: block;
            position:fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 70%;
            background: #e5e5e5;
            padding: 80px 30px;
            border-right: 1px solid #ccc;
            transform: translate(-500px);
            transition: transform 0.5s ease-in-out;

            &.show{
                transform: translate(0);
            }
            
            li{
                padding: 20px 10px;
                border-bottom: 1px solid #ccc;
                font-size: 14px;

                &:last-child{
                    border-bottom: none;
                }
            }
            
           
        }

    }

    .showcase-a{
        grid-template-columns: repeat(2, 1fr);
        height: 60vh;

        &-left{

            h1{
                width: unset;
                font-size:1.5rem;
                line-height: 1.4;
            }
            &-right{
                height: 70%;
            }

            .showcase-btn-section{
                                 
                span, .inquiry-btn{
                    display: none;
                }
            }
        }
    }

    .work-cards{
        flex-direction: column;

        img{
            display: none;
        }
    }

    .how-it-works{
        margin-bottom: 100px;

        h1{
            text-align: center;
            margin-top: 4rem;
        }
    }

    .insurance-package{

        h1{
            font-size: 1.4rem;
            line-height: 1.4rem;
        }
    }

    .insurance-cards{
        flex-direction: column;
    }

    footer{
        height: 100%;

        .footer-container{
            flex-direction: column;
        }

        .social{
            display: flex;
            width: 100%;
            padding: 2rem 0;
            justify-content: space-between;
            flex-direction: row;
            order: 2;
            margin-top: unset;

            h1{
                margin-top: -14px;
                margin-bottom: unset;
            }

        }

        .footer-links{
            width: 100%;
            margin: 4rem 0;
            order: 1;
        }

        .footer-form{
            width: 100%;
            padding-top: 3rem;

            form{
                width: 100%;
                margin-left: unset;
            }

            &::before{
                all: unset;
            }

            input,textarea{
                padding-left: 20px;
            }
        }

    }
  


}

@media screen and (max-width: 600px){

    .showcase-a{
        display: flex;
        flex-direction: column;
        gap: unset;
        height: 90vh;
        margin-top: 1rem;

        &-left{

            h1{
                padding-bottom: 20px;
            }
        }

        &-right{
            height: 50vh;
            order: -1;
        }
    }

    .showcase-b{
        display: flex;
        flex-direction: column;  
        gap: unset; 
        height: unset;
        margin-top: 3rem;
        
        &-right{

            h1{
                font-size: 1.9rem;
                margin-top: 2rem;
                line-height: 2rem;
            }

            p{
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }

    footer{
        height: 100%;

        .footer-container{
            flex-direction: column;
        }

        .social{
            display: flex;
            width: 100%;
            padding: 2rem 0;
            justify-content: space-between;
            flex-direction: row;
            order: 2;
            margin-top: unset;

            h1{
                margin-top: -14px;
                margin-bottom: unset;
            }

        }

        .footer-links{
            width: 100%;
            margin: 4rem 0;
            order: 1;
        }

        .footer-form{
            width: 100%;
            padding-top: 3rem;

            form{
                width: 100%;
                margin-left: unset;
            }

            &::before{
                all: unset;
            }

            input,textarea{
                padding-left: 20px;
            }
        }

    }
  
}

@media screen and (max-width: 300px){
   .how-it-works{

    h1{
        font-size: 25px;
    }

   }

   .insurance-package{
        margin-bottom: 50px;

        h1{
            font-size: 1.1rem;
            line-height: 1.4rem;
        }
    }

    footer{

        .footer-container{
            width: 90%;
        }
    }
}