// For Ipad 
@include mediaLg {
    .showcase-a{
        min-height: 50vh;
        // height: 90vh;
        margin-top: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 1;

        &-left{

            h1{
                width: 300px;
                line-height: 1.4;
                font-size: 2rem;
            }
        }

        &-right{
            height: 70%;
        }
    }
}

// @include mediaMd {

// }