@import 'config';

body{
    background: #e5e5e5;
    font-family: Mulish;
}

.showcase-a{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 80%;
    margin: auto;
    height: 100vh;
    margin-top: 5rem;

    &-left{

        h1{
            font-size: 48px;
            line-height: 62px;
            padding-bottom: 30px;
            width: 396px;
        }
        .showcase-btn-section{
            display: flex;
            align-items: center;

            .arrow-right{
                width: 24px;
                margin-left: 13px;
            }

            span{
                padding: 0 1rem;
            }
        }
    }

    &-right{
        height: 100%;
    }
}

.showcase-b{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    width: 80%;
    margin: auto;

    &-right{
        
        h1{
            font-size: 36px;
            line-height: 37px;
            margin-bottom: 18px;
            width: 272px;
        }

        p{
            width: 205px;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 2rem;
        }
    }
}

.how-it-works{
    width: 80%;
    margin: auto;
    margin-bottom: 211px;

    h1{
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 62px;
        margin-top: 171px;
    }
    .apply-btn{
        display: flex;
        justify-content: center;
    }
}

.insurance-package{
    margin-bottom: 241px;
    
    h1{
        font-family: Mulish;
        font-size: 36px;
        line-height: 62px;
        text-align: center;
    }
}

@import 'mobile';