@import 'config';

.navbar{
    display: flex;
    position: fixed;
    top: 0;
    background: #e5e5e5;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem; 
    // border: 1px solid red;   

    #logo{
        flex: 0.9;
        font-family: Mulish;
        font-size: 24px;
        font-weight: 700;
    }

    ul{
        display: flex;
        align-items: center;
        // min-width: 500px;
        justify-content: space-around;
        font-family: Mulish;
        font-size: 14px;
        font-weight: 400;
    }
}

@import 'mobile';